/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260128_221701_q4fukkyi.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260128_221921_jsqfp0ox.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260128_222620_wflg9r59.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260128_222717_50xr5n6x.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260128_222833_3kqy4hpt.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260129_003743_ujr5nidg.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260129_003836_rmlqazyq.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260129_004102_xwfric2l.csv
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_205441_chpgx2x9.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_211307_2jgaukzl.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_211442_vxflgbwa.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_212059_pkkbruuh.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_212746_uud9zsvu.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_221701_q4fukkyi.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_221921_jsqfp0ox.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_222620_wflg9r59.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_222717_50xr5n6x.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_222833_3kqy4hpt.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260129_003743_ujr5nidg.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260129_003836_rmlqazyq.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260129_004102_xwfric2l.html
public/relatorios/ibs-cbs/empresa-1/relatorio_ibs_cbs_20260128_201807_xR0coV.html
public/relatorios/ibs-cbs/empresa-1/relatorio_ibs_cbs_20260128_201832_LoAJZB.html
public/relatorios/ibs-cbs/empresa-1/relatorio_ibs_cbs_20260128_202028_MWK9ot.html
public/relatorios/ibs-cbs/prd/1/produtos_atualizados_20260129_021600_xrzmeupc.csv
public/relatorios/ibs-cbs/prd/1/produtos_atualizados_20260129_021719_upmoromg.csv
public/relatorios/ibs-cbs/prd/1/produtos_sem_tipi_20260129_021600_xrzmeupc.csv
public/relatorios/ibs-cbs/prd/1/produtos_sem_tipi_20260129_021719_upmoromg.csv
public/relatorios/ibs-cbs/prd/1/relatorio_ibs_cbs_20260129_021600_xrzmeupc.html
public/relatorios/ibs-cbs/prd/1/relatorio_ibs_cbs_20260129_021719_upmoromg.html
public/relatorios/ibs-cbs/prd/4/produtos_atualizados_20260208_193827_0jr0mbqc.csv
public/relatorios/ibs-cbs/prd/4/produtos_atualizados_20260208_225125_uxn5wagj.csv
public/relatorios/ibs-cbs/prd/4/produtos_atualizados_20260208_225310_fs6zxhdw.csv
public/relatorios/ibs-cbs/prd/4/produtos_atualizados_20260208_225903_lz5dgzw7.csv
public/relatorios/ibs-cbs/prd/4/produtos_atualizados_20260208_235142_pn6zyj4g.csv
public/relatorios/ibs-cbs/prd/4/produtos_atualizados_20260208_235156_6hwh1sh6.csv
public/relatorios/ibs-cbs/prd/4/produtos_sem_tipi_20260208_193827_0jr0mbqc.csv
public/relatorios/ibs-cbs/prd/4/produtos_sem_tipi_20260208_225125_uxn5wagj.csv
public/relatorios/ibs-cbs/prd/4/produtos_sem_tipi_20260208_225310_fs6zxhdw.csv
public/relatorios/ibs-cbs/prd/4/produtos_sem_tipi_20260208_225903_lz5dgzw7.csv
public/relatorios/ibs-cbs/prd/4/produtos_sem_tipi_20260208_235142_pn6zyj4g.csv
public/relatorios/ibs-cbs/prd/4/produtos_sem_tipi_20260208_235156_6hwh1sh6.csv
public/relatorios/ibs-cbs/prd/4/relatorio_ibs_cbs_20260208_193827_0jr0mbqc.html
public/relatorios/ibs-cbs/prd/4/relatorio_ibs_cbs_20260208_225125_uxn5wagj.html
public/relatorios/ibs-cbs/prd/4/relatorio_ibs_cbs_20260208_225310_fs6zxhdw.html
public/relatorios/ibs-cbs/prd/4/relatorio_ibs_cbs_20260208_225903_lz5dgzw7.html
public/relatorios/ibs-cbs/prd/4/relatorio_ibs_cbs_20260208_235142_pn6zyj4g.html
public/relatorios/ibs-cbs/prd/4/relatorio_ibs_cbs_20260208_235156_6hwh1sh6.html
/storage/framework/sessions
/storage/framework/sessions
/storage/framework/sessions
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_atualizados_20260128_205441_chpgx2x9.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_atualizados_20260128_211307_2jgaukzl.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_atualizados_20260128_211442_vxflgbwa.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_atualizados_20260128_212059_pkkbruuh.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_atualizados_20260128_212746_uud9zsvu.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_atualizados_20260128_221701_q4fukkyi.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_atualizados_20260128_221921_jsqfp0ox.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_atualizados_20260128_222620_wflg9r59.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_atualizados_20260128_222717_50xr5n6x.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_atualizados_20260128_222833_3kqy4hpt.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_atualizados_20260129_003743_ujr5nidg.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_atualizados_20260129_003836_rmlqazyq.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_atualizados_20260129_004102_xwfric2l.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260128_205441_chpgx2x9.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260128_211307_2jgaukzl.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260128_211442_vxflgbwa.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260128_212059_pkkbruuh.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260128_212746_uud9zsvu.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260128_221701_q4fukkyi.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260128_221921_jsqfp0ox.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260128_222620_wflg9r59.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260128_222717_50xr5n6x.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260128_222833_3kqy4hpt.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260129_003743_ujr5nidg.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260129_003836_rmlqazyq.csv
public/relatorios/ibs-cbs/cliente/empresa-1/produtos_sem_tipi_20260129_004102_xwfric2l.csv
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_205441_chpgx2x9.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_211307_2jgaukzl.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_211442_vxflgbwa.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_212059_pkkbruuh.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_212746_uud9zsvu.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_221701_q4fukkyi.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_221921_jsqfp0ox.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_222620_wflg9r59.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_222717_50xr5n6x.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260128_222833_3kqy4hpt.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260129_003743_ujr5nidg.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260129_003836_rmlqazyq.html
public/relatorios/ibs-cbs/cliente/empresa-1/relatorio_ibs_cbs_20260129_004102_xwfric2l.html
public/relatorios/ibs-cbs/empresa-1/relatorio_ibs_cbs_20260128_201807_xR0coV.html
public/relatorios/ibs-cbs/empresa-1/relatorio_ibs_cbs_20260128_201832_LoAJZB.html
public/relatorios/ibs-cbs/empresa-1/relatorio_ibs_cbs_20260128_202028_MWK9ot.html
public/relatorios/ibs-cbs/prd/1/produtos_atualizados_20260129_021600_xrzmeupc.csv
public/relatorios/ibs-cbs/prd/1/produtos_atualizados_20260129_021719_upmoromg.csv
public/relatorios/ibs-cbs/prd/1/produtos_sem_tipi_20260129_021600_xrzmeupc.csv
public/relatorios/ibs-cbs/prd/1/produtos_sem_tipi_20260129_021719_upmoromg.csv
public/relatorios/ibs-cbs/prd/1/relatorio_ibs_cbs_20260129_021600_xrzmeupc.html
public/relatorios/ibs-cbs/prd/1/relatorio_ibs_cbs_20260129_021719_upmoromg.html
public/relatorios/ibs-cbs/prd/4/produtos_atualizados_20260208_193827_0jr0mbqc.csv
public/relatorios/ibs-cbs/prd/4/produtos_atualizados_20260208_225125_uxn5wagj.csv
public/relatorios/ibs-cbs/prd/4/produtos_atualizados_20260208_225310_fs6zxhdw.csv
public/relatorios/ibs-cbs/prd/4/produtos_atualizados_20260208_225903_lz5dgzw7.csv
public/relatorios/ibs-cbs/prd/4/produtos_atualizados_20260208_235142_pn6zyj4g.csv
public/relatorios/ibs-cbs/prd/4/produtos_atualizados_20260208_235156_6hwh1sh6.csv
public/relatorios/ibs-cbs/prd/4/produtos_sem_tipi_20260208_193827_0jr0mbqc.csv
public/relatorios/ibs-cbs/prd/4/produtos_sem_tipi_20260208_225125_uxn5wagj.csv
public/relatorios/ibs-cbs/prd/4/produtos_sem_tipi_20260208_225310_fs6zxhdw.csv
public/relatorios/ibs-cbs/prd/4/produtos_sem_tipi_20260208_225903_lz5dgzw7.csv
public/relatorios/ibs-cbs/prd/4/produtos_sem_tipi_20260208_235142_pn6zyj4g.csv
public/relatorios/ibs-cbs/prd/4/produtos_sem_tipi_20260208_235156_6hwh1sh6.csv
public/relatorios/ibs-cbs/prd/4/relatorio_ibs_cbs_20260208_193827_0jr0mbqc.html
public/relatorios/ibs-cbs/prd/4/relatorio_ibs_cbs_20260208_225125_uxn5wagj.html
public/relatorios/ibs-cbs/prd/4/relatorio_ibs_cbs_20260208_225310_fs6zxhdw.html
public/relatorios/ibs-cbs/prd/4/relatorio_ibs_cbs_20260208_225903_lz5dgzw7.html
public/relatorios/ibs-cbs/prd/4/relatorio_ibs_cbs_20260208_235142_pn6zyj4g.html
public/relatorios/ibs-cbs/prd/4/relatorio_ibs_cbs_20260208_235156_6hwh1sh6.html
resources/views/vendor/laravel-generator/api/controller/model/controller.blade.php
resources/views/vendor/laravel-generator/api/controller/model/controller_resource.blade.php
resources/views/vendor/laravel-generator/api/controller/repository/controller.blade.php
resources/views/vendor/laravel-generator/api/controller/repository/controller_resource.blade.php
resources/views/vendor/laravel-generator/api/docs/controller/controller.blade.php
resources/views/vendor/laravel-generator/api/docs/controller/destroy.blade.php
resources/views/vendor/laravel-generator/api/docs/controller/index.blade.php
resources/views/vendor/laravel-generator/api/docs/controller/show.blade.php
resources/views/vendor/laravel-generator/api/docs/controller/store.blade.php
resources/views/vendor/laravel-generator/api/docs/controller/update.blade.php
resources/views/vendor/laravel-generator/api/request/create.blade.php
resources/views/vendor/laravel-generator/api/request/update.blade.php
resources/views/vendor/laravel-generator/api/resource/resource.blade.php
resources/views/vendor/laravel-generator/api/routes.blade.php
resources/views/vendor/laravel-generator/api/test/api_test.blade.php
resources/views/vendor/laravel-generator/api/test/api_test_trait.blade.php
resources/views/vendor/laravel-generator/migration.blade.php
resources/views/vendor/laravel-generator/model/factory.blade.php
resources/views/vendor/laravel-generator/model/model.blade.php
resources/views/vendor/laravel-generator/model/relationship.blade.php
resources/views/vendor/laravel-generator/model/seeder.blade.php
resources/views/vendor/laravel-generator/repository/repository.blade.php
resources/views/vendor/laravel-generator/repository/repository_test.blade.php
resources/views/vendor/laravel-generator/scaffold/controller/controller.blade.php
resources/views/vendor/laravel-generator/scaffold/controller/controller_repository.blade.php
resources/views/vendor/laravel-generator/scaffold/controller/index_method.blade.php
resources/views/vendor/laravel-generator/scaffold/controller/index_method_datatable.blade.php
resources/views/vendor/laravel-generator/scaffold/controller/index_method_livewire.blade.php
resources/views/vendor/laravel-generator/scaffold/controller/index_method_repository.blade.php
resources/views/vendor/laravel-generator/scaffold/controller/messages/delete_success.blade.php
resources/views/vendor/laravel-generator/scaffold/controller/messages/not_found.blade.php
resources/views/vendor/laravel-generator/scaffold/controller/messages/save_success.blade.php
resources/views/vendor/laravel-generator/scaffold/controller/messages/update_success.blade.php
resources/views/vendor/laravel-generator/scaffold/controller/model_not_found.blade.php
resources/views/vendor/laravel-generator/scaffold/layouts/datatables_css.blade.php
resources/views/vendor/laravel-generator/scaffold/layouts/datatables_js.blade.php
resources/views/vendor/laravel-generator/scaffold/request/create.blade.php
resources/views/vendor/laravel-generator/scaffold/request/update.blade.php
resources/views/vendor/laravel-generator/scaffold/routes.blade.php
resources/views/vendor/laravel-generator/scaffold/table/datatable.blade.php
resources/views/vendor/laravel-generator/scaffold/table/livewire.blade.php
resources/views/vendor/laravel-generator/scaffold/user/create_user_request.blade.php
resources/views/vendor/laravel-generator/scaffold/user/update_user_request.blade.php
resources/views/vendor/laravel-generator/scaffold/user/user_controller.blade.php
resources/views/vendor/laravel-generator/scaffold/user/user_controller_without_repository.blade.php
resources/views/vendor/laravel-generator/scaffold/user/user_repository.blade.php
resources/views/vendor/laravel-generator/stubs/app_base_controller.blade.php
resources/views/vendor/laravel-generator/stubs/base_repository.blade.php
resources/views/frontBox/frontBox.zip
resources/views/frontBox/frontBox_minimal_responsivo_patch.zip
resources/views/frontBox/frontBox_select2_mobile_patch.zip
resources/views/frontBox/frontBox_select2_mobile_patch_sobre_minimal.zip
resources/views/frontBox/list.blade.php.original.11022026
resources/views/frontBox/main.blade.php.original.11022026
resources/views/frontBox/main2.blade.php.original.11022026
resources/views/frontBox/main3.blade.php.original.11022026
resources/views/frontBox/pdv_assincrono.blade.php.original.11022026
resources/views/frontBox/register_nfe.blade.php.original.11022026
resources/views/vendas/vendas.zip
app/Services/ReformaTributariaService.php.bkp.8
app/Services/ReformaTributariaService.php.bkp.7
app/Http/Controllers/VendaController.php.bkp.7
resources/views/pesagens/list.blade.php_
app/Prints/PesagemPrint80.php.bkp.20022026
app/Http/Controllers/ConfigNotaController.php_20022026.bkp
