.full{
  width: 100%;
  margin-top: 3px;
}

.ico-pesquisa{
  font-size: 25px;
}

.ico-pesquisa:hover{
  cursor: pointer;
}

.ico-active{
  color: #E3C446;
}

.info-plan:hover{
  cursor: pointer;
}

.pulse-button {
  position: relative;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #009192;
  font-size: 10px;
  margin: 0px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader-cancelar{
  color: red;
  font-size: 5px;
}

.loader-correcao{
  color: blue;
  font-size: 5px;
}

.loader-pagamento{
  color: #52B99A;
  font-size: 8px;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes fadebarcode {
  from {opacity: 0;}
  to {opacity: 1;}
}

.mousetrap{
  width: 0;border:none;outline:none;background: #f3f6f9;
  position: relative;
}
#mousetrapTitle{
  position: absolute;
  top: -26px;
  left: 16px;
  color: green;
  background-color: #fff;
  box-shadow: 0 0 5px #fff;

  display: none;
  align-items: center;
  gap: 3px;
}

.pr-2{
  background:#F3F6F9;
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 35px;
}


.mousetrap:focus{
  border:none;outline:none;border-right: 3px solid #000;
  animation: fadebarcode .5s infinite ease-in-out;
}

.select-disabled {
  pointer-events: none;
  background: #E3E6E8 !important;
}


